:root {
  --Font-normal: 500;
  --Font-medium: 600;
  --Font-bold: 700;

  --font-size-small: 1.4rem;
  --font-size-normal: 1.8rem;
  --font-size-medium: 2.2rem;
  --font-size-big: 2.8rem;

  --firts-color: #2a7ae4;
  --color-bg: #f5f5f5;
  --second-color-bg: #eaf2fd;
  --color-white: #ffffff;
  --first-color-text: #464646;
  --second-color-text: #a2a2a2;
  --color-bar-form: #c8c8c8;
  --form-invalid-color: #e74645;
}

body {
  background-color: var(--color-bg);
}
/* alert  */
button.swal2-styled.swal2-confirm,
button.swal2-styled.swal2-deny {
  font-size: 1.4rem;
}

/* header */
.header__nav {
  justify-content: space-between;
}

/* add product body */
.add-product {
  width: 100%;
  max-width: 480px;
  margin: 2rem auto;
  padding: 0 2rem;
}
.add-product__title {
  text-align: center;
  margin-bottom: 4rem;
  color: var(--first-color-text);
  font-size: var(--font-size-medium);
  font-weight: var(--Font-bold);
  line-height: 2rem;
}
.add-product form {
  width: 100%;
  margin: 5rem 0;
}

.add-product__field {
  background-color: var(--color-white);
  margin: 2rem 0;
  padding: 1rem;
  border-bottom: 2px solid var(--color-bar-form);
  border-radius: 0.4rem;
}

.add-product__field-label {
  color: var(--second-color-text);
  font-size: var(--font-size-normal);
  font-weight: var(--Font-normal);
}
.add-product__field-input {
  width: 100%;
  margin-top: 1rem;
  outline: none;

  color: var(--first-color-text);
  font-size: var(--font-size-normal);
  font-weight: var(--Font-normal);
}

::placeholder {
  color: var(--second-color-text);
  font-size: var(--font-size-normal);
  font-weight: var(--Font-normal);
}

.add-product__field--message {
  color: var(--primary-color-text);
  font-size: var(--font-size-small);
  font-weight: var(--Font-normal);
}
.add-product__field-textarea {
  margin-top: 1rem;
  width: 100%;
  outline: none;
  resize: none;

  color: var(--first-color-text);
  font-size: var(--font-size-normal);
  font-weight: var(--Font-normal);
}

.add-product__btn {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: var(--font-size-normal);
  font-weight: var(--Font-medium);
  color: var(--color-white);
  background-color: var(--firts-color);
  padding: 1.8rem 0;

  transition: all 0.25s ease-in-out;
}

.add-product__btn:hover {
  background-color: transparent;
  color: var(--firts-color);
  outline: 2px solid var(--firts-color);
  cursor: pointer;
}

.header__btn-administration {
  font-size: var(--font-size-small);
  background-color: transparent;
  outline: 2px solid var(--firts-color);

  color: var(--firts-color);
  font-weight: var(--Font-medium);
  transition: all 0.25s ease-in-out;
  padding: 1.4rem;
  margin-left: 2rem;
  text-align: center;
}

.header__btn-administration:hover {
  background-color: var(--firts-color);
  color: var(--color-white);
  outline: 2px solid var(--firts-color);
  cursor: pointer;
}

.add-product__alert {
  font-size: var(--font-size-small);
  font-weight: var(--Font-medium);
  color: var(--form-invalid-color);
  text-align: center;
  margin: 1rem 0;
  animation: scale 0.5s alternate infinite ease-in-out;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
